fastapi
uvicorn
python-multipart
requests
python-jose[cryptography]
imageio-ffmpeg
librosa
numpy
scipy
matplotlib
pydantic
pydantic-settings
google-generativeai
openai-whisper
python-dotenv
spacy
aiofiles
PyYAML
prometheus-fastapi-instrumentator
prometheus_client
